In [2]:
import numpy as np
import pandas as pd
from statsmodels.stats.proportion import proportions_ztest
import seaborn as sns
from scipy import stats
from statsmodels.stats.multicomp import pairwise_tukeyhsd
from statsmodels.stats.multicomp import MultiComparison
from statsmodels.stats.proportion import proportions_ztest
from statsmodels.stats.proportion import proportions_chisquare

In [2]:
avocadoscali = pd.read_csv('C:/Users/track/Desktop/Data Sci/FINAL PROJECT/avocadoscali.csv')

In [3]:
avocadoscali.head()

,Year,Commodity Code,Crop Name,County Code,County,Harvested Acres,Yield,Production,Price P/U,Unit,Value
0,2020,221999,AVOCADOS ALL,53,Monterey,223,5.56,1240,2379.84,Tons,2951000
1,2020,221999,AVOCADOS ALL,65,Riverside,3020,,,,Tons,88697000
2,2020,221999,AVOCADOS ALL,71,San Bernardino,370,2.16,799,2617.02,Tons,2091000
3,2020,221999,AVOCADOS ALL,73,San Diego,14400,3.51,50500,3028.87,Tons,152958000
4,2020,221999,AVOCADOS ALL,79,San Luis Obispo,4240,5.9,25000,1886.76,Tons,47169000

In [4]:
#avocadoscali.drop([' Commodity Code'], axis = 1, inplace = True)

In [5]:
avocadoscali.head()

,Year,Commodity Code,Crop Name,County Code,County,Harvested Acres,Yield,Production,Price P/U,Unit,Value
0,2020,221999,AVOCADOS ALL,53,Monterey,223,5.56,1240,2379.84,Tons,2951000
1,2020,221999,AVOCADOS ALL,65,Riverside,3020,,,,Tons,88697000
2,2020,221999,AVOCADOS ALL,71,San Bernardino,370,2.16,799,2617.02,Tons,2091000
3,2020,221999,AVOCADOS ALL,73,San Diego,14400,3.51,50500,3028.87,Tons,152958000
4,2020,221999,AVOCADOS ALL,79,San Luis Obispo,4240,5.9,25000,1886.76,Tons,47169000

In [6]:
years_to_keep = [2015, 2016, 2017, 2018, 2019, 2020]

In [7]:
avocadoscali_filtered = avocadoscali[avocadoscali['Year'].isin(years_to_keep)]

In [8]:
avocadoscali_filtered

,Year,Commodity Code,Crop Name,County Code,County,Harvested Acres,Yield,Production,Price P/U,Unit,Value
0,2020,221999,AVOCADOS ALL,53,Monterey,223,5.56,1240,2379.84,Tons,2951000
1,2020,221999,AVOCADOS ALL,65,Riverside,3020,,,,Tons,88697000
2,2020,221999,AVOCADOS ALL,71,San Bernardino,370,2.16,799,2617.02,Tons,2091000
3,2020,221999,AVOCADOS ALL,73,San Diego,14400,3.51,50500,3028.87,Tons,152958000
4,2020,221999,AVOCADOS ALL,79,San Luis Obispo,4240,5.9,25000,1886.76,Tons,47169000
5,2020,221999,AVOCADOS ALL,83,Santa Barbara,5770,4.89,28200,2842.59,Tons,80161000
6,2020,221999,AVOCADOS ALL,111,Ventura,16400,4.29,70300,2556.57,Tons,179727000
7,2019,221999,AVOCADOS ALL,53,Monterey,225,6.58,1480,2500,Tons,3700000
8,2019,221999,AVOCADOS ALL,65,Riverside,2940,5.48,16100,2505.53,Tons,40339000
9,2019,221999,AVOCADOS ALL,71,San Bernardino,397,3.53,1400,2604.29,Tons,3646000
10,2019,221999,AVOCADOS ALL,73,San Diego,14900,2.38,35400,3958.08,Tons,140116000
11,2019,221999,AVOCADOS ALL,79,San Luis Obispo,4440,2.75,12200,3186.48,Tons,38875000
12,2019,221999,AVOCADOS ALL,83,Santa Barbara,5410,1.98,10700,3309.44,Tons,35411000
13,2019,221999,AVOCADOS ALL,111,Ventura,16500,3.02,49800,2349.02,Tons,116981000
14,2019,221999,AVOCADOS ALL,991,Sum of Others,1151,,,,,4357000
15,2018,221999,AVOCADOS ALL,53,Monterey,256,4.53,1160,2250,Tons,2610000
16,2018,221999,AVOCADOS ALL,65,Riverside,4270,3.79,16200,2378.27,Tons,38528000
17,2018,221999,AVOCADOS ALL,71,San Bernardino,457,3.85,1760,2379.55,Tons,4188000
18,2018,221999,AVOCADOS ALL,73,San Diego,17700,2.66,47100,2569.81,Tons,121038000
19,2018,221999,AVOCADOS ALL,79,San Luis Obispo,4160,4.62,19200,2403.39,Tons,46145000
20,2018,221999,AVOCADOS ALL,83,Santa Barbara,4930,4.56,22500,2338.53,Tons,52617000
21,2018,221999,AVOCADOS ALL,111,Ventura,17100,3.08,52700,1959.24,Tons,103252000
22,2018,221999,AVOCADOS ALL,991,Sum of Others,1136,2.26,2572,2417.57,Tons,6218000
23,2017,221999,AVOCADOS ALL,53,Monterey,383,3.08,1180,3239.83,Tons,3823000
24,2017,221999,AVOCADOS ALL,65,Riverside,4520,3.92,17700,2258.36,Tons,39973000
25,2017,221999,AVOCADOS ALL,71,San Bernardino,477,3.08,1470,2349.66,Tons,3454000
26,2017,221999,AVOCADOS ALL,73,San Diego,15000,2.3,34500,3541.74,Tons,122190000
27,2017,221999,AVOCADOS ALL,79,San Luis Obispo,4080,2.35,9570,2852.14,Tons,27295000
28,2017,221999,AVOCADOS ALL,83,Santa Barbara,4270,2.46,10500,3676.76,Tons,38606000
29,2017,221999,AVOCADOS ALL,111,Ventura,17400,3.12,54300,2185.64,Tons,118680000
30,2017,221999,AVOCADOS ALL,991,Sum of Others,1178,1.8,2126,3331.14,Tons,7082000
31,2016,221999,AVOCADOS ALL,53,Monterey,245,5.39,1320,2430.3,Tons,3208000
32,2016,221999,AVOCADOS ALL,65,Riverside,4190,4.15,17400,1919.08,Tons,33392000
33,2016,221999,AVOCADOS ALL,71,San Bernardino,505,3.09,1560,1360.26,Tons,2122000
34,2016,221999,AVOCADOS ALL,73,San Diego,17700,3.28,58000,2348.72,Tons,136226000
35,2016,221999,AVOCADOS ALL,79,San Luis Obispo,4010,4.96,19900,2242.61,Tons,44628000
36,2016,221999,AVOCADOS ALL,83,Santa Barbara,4980,4.94,24600,2580.61,Tons,63483000
37,2016,221999,AVOCADOS ALL,111,Ventura,18500,3.33,61600,2094.16,Tons,129000000
38,2016,221999,AVOCADOS ALL,991,Sum of Others,1281,3.79,4851,1907.85,Tons,9255000
39,2015,221999,AVOCADOS ALL,53,Monterey,229,2.2,503,2910.54,Tons,1464000
40,2015,221999,AVOCADOS ALL,65,Riverside,4630,2.27,10500,2433.24,Tons,25549000
41,2015,221999,AVOCADOS ALL,71,San Bernardino,505,3.21,1620,1266.05,Tons,2051000
42,2015,221999,AVOCADOS ALL,73,San Diego,18300,2.34,42900,2574.69,Tons,110454000
43,2015,221999,AVOCADOS ALL,79,San Luis Obispo,4110,2.21,9070,1831.64,Tons,16613000
44,2015,221999,AVOCADOS ALL,83,Santa Barbara,6510,3.59,23400,2004.32,Tons,46901000
45,2015,221999,AVOCADOS ALL,111,Ventura,19500,2.9,56500,3341.91,Tons,188818000
46,2015,221999,AVOCADOS ALL,991,Sum of Others,1297,2.42,3139,2719.43,Tons,8536300

In [9]:
avocadoscali.columns

Index(['Year', ' Commodity Code', ' Crop Name', ' County Code', ' County',
       ' Harvested Acres', ' Yield', ' Production', ' Price P/U', ' Unit',
       ' Value'],
      dtype='object')

In [10]:
avocadoscali_filtered.drop([' Crop Name', ' County', ' Unit'], axis = 1, inplace = True)

C:\Users\track\AppData\Local\Temp\ipykernel_13268\894313437.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  avocadoscali_filtered.drop([' Crop Name', ' County', ' Unit'], axis = 1, inplace = True)

In [11]:
avocadoscali_filtered

,Year,Commodity Code,County Code,Harvested Acres,Yield,Production,Price P/U,Value
0,2020,221999,53,223,5.56,1240,2379.84,2951000
1,2020,221999,65,3020,,,,88697000
2,2020,221999,71,370,2.16,799,2617.02,2091000
3,2020,221999,73,14400,3.51,50500,3028.87,152958000
4,2020,221999,79,4240,5.9,25000,1886.76,47169000
5,2020,221999,83,5770,4.89,28200,2842.59,80161000
6,2020,221999,111,16400,4.29,70300,2556.57,179727000
7,2019,221999,53,225,6.58,1480,2500,3700000
8,2019,221999,65,2940,5.48,16100,2505.53,40339000
9,2019,221999,71,397,3.53,1400,2604.29,3646000
10,2019,221999,73,14900,2.38,35400,3958.08,140116000
11,2019,221999,79,4440,2.75,12200,3186.48,38875000
12,2019,221999,83,5410,1.98,10700,3309.44,35411000
13,2019,221999,111,16500,3.02,49800,2349.02,116981000
14,2019,221999,991,1151,,,,4357000
15,2018,221999,53,256,4.53,1160,2250,2610000
16,2018,221999,65,4270,3.79,16200,2378.27,38528000
17,2018,221999,71,457,3.85,1760,2379.55,4188000
18,2018,221999,73,17700,2.66,47100,2569.81,121038000
19,2018,221999,79,4160,4.62,19200,2403.39,46145000
20,2018,221999,83,4930,4.56,22500,2338.53,52617000
21,2018,221999,111,17100,3.08,52700,1959.24,103252000
22,2018,221999,991,1136,2.26,2572,2417.57,6218000
23,2017,221999,53,383,3.08,1180,3239.83,3823000
24,2017,221999,65,4520,3.92,17700,2258.36,39973000
25,2017,221999,71,477,3.08,1470,2349.66,3454000
26,2017,221999,73,15000,2.3,34500,3541.74,122190000
27,2017,221999,79,4080,2.35,9570,2852.14,27295000
28,2017,221999,83,4270,2.46,10500,3676.76,38606000
29,2017,221999,111,17400,3.12,54300,2185.64,118680000
30,2017,221999,991,1178,1.8,2126,3331.14,7082000
31,2016,221999,53,245,5.39,1320,2430.3,3208000
32,2016,221999,65,4190,4.15,17400,1919.08,33392000
33,2016,221999,71,505,3.09,1560,1360.26,2122000
34,2016,221999,73,17700,3.28,58000,2348.72,136226000
35,2016,221999,79,4010,4.96,19900,2242.61,44628000
36,2016,221999,83,4980,4.94,24600,2580.61,63483000
37,2016,221999,111,18500,3.33,61600,2094.16,129000000
38,2016,221999,991,1281,3.79,4851,1907.85,9255000
39,2015,221999,53,229,2.2,503,2910.54,1464000
40,2015,221999,65,4630,2.27,10500,2433.24,25549000
41,2015,221999,71,505,3.21,1620,1266.05,2051000
42,2015,221999,73,18300,2.34,42900,2574.69,110454000
43,2015,221999,79,4110,2.21,9070,1831.64,16613000
44,2015,221999,83,6510,3.59,23400,2004.32,46901000
45,2015,221999,111,19500,2.9,56500,3341.91,188818000
46,2015,221999,991,1297,2.42,3139,2719.43,8536300

In [12]:
avocadoscali.head()

,Year,Commodity Code,Crop Name,County Code,County,Harvested Acres,Yield,Production,Price P/U,Unit,Value
0,2020,221999,AVOCADOS ALL,53,Monterey,223,5.56,1240,2379.84,Tons,2951000
1,2020,221999,AVOCADOS ALL,65,Riverside,3020,,,,Tons,88697000
2,2020,221999,AVOCADOS ALL,71,San Bernardino,370,2.16,799,2617.02,Tons,2091000
3,2020,221999,AVOCADOS ALL,73,San Diego,14400,3.51,50500,3028.87,Tons,152958000
4,2020,221999,AVOCADOS ALL,79,San Luis Obispo,4240,5.9,25000,1886.76,Tons,47169000

In [3]:
Vegetables_Cali = pd.read_csv('C:/Users/track/Desktop/Data Sci/FINAL PROJECT/Vegetables Cali.csv')

UnicodeDecodeError: 'utf-8' codec can't decode byte 0x85 in position 1030: invalid start byte